# Supabase Configuration
VITE_SUPABASE_URL=https://uevxdpakuoyjdhluyivg.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_XqbrLC2QAQWPMtXM7BVJlw_dBcdVgd4

# App Configuration
VITE_APP_NAME="MK COLLECTION"
VITE_APP_DOMAIN="mkcollection.pk"
VITE_APP_URL="https://ais-dev-glufesggakko7uc7e6e3pk-37283334421.asia-east1.run.app"
